{{define "Edit"}}

<!-- repete o head para padronizar a página -->
{{template "_head"}}
<!-- repete o menu para padronizar a página -->
{{template "_menu"}}
   
    <body> 
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-5">Editar Produto</h1>
                    <p class="lead">Insira as alterações</p>
                </div>
            </div>
            <!-- METODO POST PARA FAZER A AÇÃO DE ATUALIZAR NO BANCO -->
            <form method="POST" action="update">
                <!-- criar um input para identificar o ID que será atualizado sem mostrar na tela -->
                <input type="hidden" name="id" value="{{.Id}}">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" class="form-control" value="{{.Nome}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <input type="text" name="descricao" class="form-control" value="{{.Descricao}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="preco">Preço:</label>
                            <input type="number" name="preco" class="form-control" step="0.01" value="{{.Preco}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="quantidade">Quantidade:</label>
                            <input type="number" name="quantidade" class="form-control" value="{{.Quantidade}}">
                        </div>
                    </div>
                </div>
                <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
                <a class="btn btn-info" href="/">Voltar</a>
            </form>
        </div>
    </body>
</html>

{{end}}